<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SmartQuizPortalTestSuite" verbose="1">
    <test name="RegistrationTests" preserve-order="true">
        <classes>
            <class name="testing.RegisterTest"/>
        </classes>
    </test>
</suite>